:root {
    --col1: rgb(12, 74, 124);
    --col2: rgb(58, 23, 104);
    --background: rgb(238, 220, 226);
    --gradient1: rgb(52, 62, 110);
    --gradient2: rgb(42, 51, 82);
    --textCol1: rgb(26, 112, 211);
    --underLine: underline solid 3px var(--textCol1);
    --border: solid 4px black;
    --shadow1: 0px 0px 5px gray, 0px 0px 10px navy;
    --col3: rgb(131, 225, 208);
}

html {
    font-size: 10px;
    font-weight: 300;
    text-shadow: var(--shadow1);
}

body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(circle, rgb(24, 70, 95) 0%, rgb(40, 28, 90) 100%);
}

main {
    text-align: center;
    background-color: var(--background);
    border: solid var(--col2);
    border-width: 0 8px 8px 8px;
    min-height: 80vh;
    border-radius: 0 0 3rem 3rem;
    padding: 1rem;
    color: #1f2933;
    box-shadow: inset var(--shadow1);
}

h2 {
    font-size: 4rem;
    margin: 8rem 0;
    text-decoration: var(--underLine);
    color: var(--textCol1);
}

p {
    font-size: 3rem;
    color: var(--textCol1);
    text-decoration: var(--underLine);
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
}

button {
    border: var(--border);
    cursor: pointer;
    background: var(--col1);
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    margin: auto;
    font-size: 2rem;
    text-shadow: var(--shadow1);
    box-shadow: var(--shadow1);
}

button:last-child {
    background: var(--col2);
}

h3 {
    font-size: 3rem;
    color: var(--textCol1);
    text-decoration: var(--underLine);
}

input {
    border: 1px solid lightgrey;
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 16rem;
    text-align: center;
}

#range {
    display: flex;
    background: var(--col1);
    height: 50px;
    padding: 0;
    margin: 0 0 4rem 0;
}

#rangeOutput {
    font-size: 1.6rem;
}

.stats {
    text-align: left;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info span {
    font-size: 1.6rem;
}

#newGameButton {
    border-radius: 0;
}

.flash {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}