body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: aliceblue;
    font-family: cursive;
    font-weight: 900;
}

h1 {
    text-align: center;
    text-decoration: underline solid aliceblue 4px;
    text-shadow: 1px 1px 15px rgb(12, 190, 86), 2px 2px 25px rgb(165, 252, 226);
    font-size: 50px;
}

#counForm {
    text-align: center;
}

#result {
    text-align: center;
}

.but1 {
    background-color: rgb(10, 204, 10);
    font-size: large;
    font-family: cursive;
}

.but2 {
    background-color: crimson;
    font-size: large;
    font-family: cursive;
}