.taskTitle {
    text-decoration: underline solid 5px black;
    text-align: center;
    font-size: 4vh;
    padding: 1vh;
    text-shadow: 1px 1px 5px navy, 4px 4px 7px green;
}

.formStyle {
    border: 5px solid black;
    border-radius: 20px;
    padding: 1vh;
    text-align: center;
    font-size: 2.5vh;
}

#nameGreet {
    text-align: center;
    font-size: 2vh;
}

#sumOf {
    text-align: center;
    font-size: 2vh;
}

#colOut {
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
}