:root{
   /* color: var(--purpink);  (how to use) */
    --white: rgba(255, 255, 255, 0.747);
    --black: rgba(0, 0, 0, 0.603);
    --blue: rgb(5, 67, 182);
    --teal: rgba(8,134,175,0.5046393557422969);
    --purpink: rgba(202,5,111,0.7987570028011204);
    --fred: rgba(243,22,22,1);
    --grellow: rgb(125, 255, 3);
    --glowshadow: 2px 2px 10px;
    --rglowshadow: -2px -2px 10px;
    --bbord: 3px solid black;
    --wbord: 3px solid var(--white);
    --wunderline: underline solid white 2px;
    --bunderline: underline solid black 2px;
}


body{
    background: rgb(8,134,175);
background: linear-gradient(90deg, var(--teal) 10%, rgba(42,229,104,0.8687850140056023) 25%, rgba(136,222,140,0.927608543417367) 50%, rgba(103,210,229,0.9304096638655462) 100%);
}

#join>:nth-child(2n){
    color: crimson;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(250,2,2,0.5914740896358543) 50%, rgba(0,212,255,1) 100%);
    text-decoration: var(--bunderline);
    font-weight: bold;
    text-shadow: var(--glowshadow) black;
    border: var(--wbord);
}

#join>:nth-child(2n-1){
    color: var(--blue);
    background: rgb(8,134,175);
    background: linear-gradient(252deg, var(--teal) 0%, var(--purpink) 48%, var(--fred) 100%);
    text-decoration: var(--wunderline);
    font-weight: bold;
    box-shadow: inset var(--glowshadow) white;
    border: var(--bbord);
}

.particle{
    color: var(--purpink);
    text-shadow: var(--rglowshadow) var(--grellow);
    border: var(--bbord);
    text-decoration: var(--wunderline);
}

article::before {
    content: url('https://picsum.photos/seed/picsum/200/300');
}
article::after{
    content: "This text content is placed after the article";
    color: var(--blue);
    background-color: white;
    font-weight: bold;
    text-shadow: var(--glowshadow) var(--grellow), var(--rglowshadow) black;
    text-decoration: var(--bunderline);
}