@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

h3 {
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
}

.prp {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.h31 {
    font-size: 35px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #5c539d;
}

.container h2{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.price-row1 {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}


.price-col1{
    background-color: rgb(36, 40, 63);
    padding: 10% 10%;
    border-radius: 10px;
    text-align: left;
}

.list1{
    margin-left: 10px;
}

.list1 li{
    padding: 7px;
}

.price-col1 ul {
    list-style: none;
}

ul li::before {
    content: "• ";
    color: rgb(255, 0, 0);
    padding: 5px;
}

/* .price-col1 ul{
list-style-position: inside;
} This is a simple way to get bullet points to line up with text inside an element */

.pbut{
    height: 40px;
    width: 80%;
    position: relative;
    left: 25px;
    background-color: rgb(36, 40, 63);
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 2s;
}

.pbut:hover{
    background-color: blueviolet;
}
