body{
    background-color:indigo;
}

header{
    grid-area: header;
    background-color: coral;
}

main{
    grid-area: main;
    background-color: cornflowerblue;
}

main img{
    padding: 10px;
    width: 300px;
    height: 200px;
}

section{
    grid-area: section;
    background-color: crimson;
}

footer{
    grid-area: footer;
    background-color: forestgreen;
}

body{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'main main main . section'
    'main main main . section'
    'footer footer footer footer footer'
    ;
    grid-template-columns:10% 35% 25% 5% 25% ;
    grid-template-rows: 10% 40% 40% 10% ;
    gap: 1% 1%;
}

.gridp{
    text-decoration: underline solid 1px black;
    font-size: 17px;
}

/* 320px-480px */
@media (min-width: 320px) and (max-width: 720px){
    body{
        display: grid;
        grid-template-areas:
        '. header header header .'
        '. main main main .'
        '. section section section .'
        'footer footer footer footer footer'
        ;
        grid-template-columns:5% 30% 30% 30% 5% ;
        
    }
    main img{
        width: 190px;
        height: 130px;
        position: relative;
        left: 110px;
        bottom: 9px;
    }
    .gridp{
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    body{
        background-color:rgb(127, 37, 192);
    }
    
    header{
        grid-area: header;
        background-color: rgb(238, 140, 105);
    }
    
    main{
        grid-area: main;
        background-color: rgb(96, 126, 182);
    }
    
    
    section{
        grid-area: section;
        background-color: rgb(212, 51, 83);
    }
    
    footer{
        grid-area: footer;
        background-color: rgb(58, 182, 58);
    }
}